.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: var(--bg-color);
  width: 95%; /* Устанавливаем ширину контейнера */
  border-radius: 12px; /* Скругленные углы */
  margin: 0 auto; /* Центрируем контейнер по горизонтали */
}

.form {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--bg-color);
  padding: 20px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.25);
  border-radius: 12px; /* Скругленные углы формы */
}

.textareaWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.textareaWrapper.expanded {
  max-height: 150px; /* Высота textarea */
  opacity: 1;
}

.textarea {
  width: 100%;
  padding: 12px 14px;
  border: 0.5px solid var(--main-color);
  border-radius: 12px;
  font-size: 14px;
  color: var(--text-color);
  outline: none;
  resize: none;
  min-height: 80px;
}

.button {
  padding: 12px;
  background: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.button:disabled {
  opacity: 0.6;
  cursor: default;
}

.button:not(:disabled):hover {
  background: var(--accent-color);
  transform: translateY(-1px);
}