/* app/components/Header.module.css */
.header {
  position: sticky;
  top: 0; /* Размещаем header в самом верху */
  background: #ffffff39;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #e5e7eb;
  padding: 1.2rem 0;
  z-index: 900;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.8rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.iconWrapper {
  display: flex;
  color: var(--main-color);
}

.icon {
  width: 1.8rem;  /* Чуть больше, чем в навбаре (1.5rem) */
  height: 1.8rem;
  stroke-width: 2; /* Аналогично навбару */
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #111827;
  margin: 0;
}

/* Адаптация */
@media (max-width: 640px) {
  .header {
    top: 0px;
    padding: 1rem 0;
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-size: 1.2rem;
  }
  
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}