.promoWrapper {
  position: relative; /* Родитель для абсолютного позиционирования изображения */
  max-width: 95%;
  margin: 30px auto; /* Центрируем wrapper и добавляем отступы */
}

.promoBlock {
  background-color: var(--block-color); /* Основной цвет блока */
  color: white;
  border-radius: 12px; /* Закругленные углы */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05); /* Тень */
  overflow: hidden; /* Обрезаем содержимое по границе блока */
  width: 100%; /* Блок занимает всю ширину wrapper */
  display: flex;
  align-items: center; /* Выравниваем текст по вертикали */
  padding: 15px 10px 15px 100px; /* Отступы внутри блока */
}

.promoText {
  flex-grow: 1; /* Текст занимает доступное пространство */
  font-size: 1.2rem;
  font-family: 'Lora', serif; /* Используем шрифт Lora */
  font-style: italic;
  line-height: 1.3;
  word-break: break-word;
  text-align: left; /* Выравнивание текста по левому краю */
}

.promoImageOverlap {
  position: absolute; /* Позиционируем абсолютно относительно .promo-wrapper */
    bottom: 0; /* Привязываем нижний край изображения к нижнему краю .promo-wrapper */
    left: 10px; /* Отступ от левого края .promo-wrapper */
    max-width: 80px; /* Ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    z-index: 1; /* Убедимся, что изображение поверх .promo-block */
}

/* Адаптация для маленьких экранов */
@media (max-width: 300px) {
  .promoWrapper {
    margin: 20px 10px; /* Уменьшаем горизонтальные отступы */
    max-width: none; /* Убираем ограничение ширины */
  }

  .promoBlock {
    padding: 10px 10px 10px 80px; /* Уменьшаем отступы для текста */
  }

  .promoImageOverlap {
    top: -20px; /* Уменьшаем выход изображения за верхнюю часть блока */
    max-width: 60px; /* Уменьшаем размер изображения */
  }

  .promoText {
    font-size: 1rem; /* Уменьшаем размер текста */
  }
}
