.promoWrapper {
  position: relative; /* Родитель для абсолютного позиционирования изображения */
  width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    padding-top: 30px;
    margin-bottom: 1.5rem;
}

.promoBlock {
  background-color: rgba(255, 156, 49, 0.269); /* Основной цвет блока */
  color: white;
  border-radius: 12px; /* Закругленные углы */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05); /* Тень */
  overflow: hidden; /* Обрезаем содержимое по границе блока */
  width: 100%; /* Блок занимает всю ширину wrapper */
  display: flex;
  align-items: center; /* Выравниваем текст по вертикали */
  padding: 15px 10px 15px 100px; /* Отступы внутри блока */
}

.promoText {
  margin: 0;
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.3;
    color: var(--text-color);
}

.promoImageOverlap {
  position: absolute; /* Позиционируем абсолютно относительно .promo-wrapper */
    bottom: 0; /* Привязываем нижний край изображения к нижнему краю .promo-wrapper */
    left: 10px; /* Отступ от левого края .promo-wrapper */
    max-width: 80px; /* Ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    z-index: 1; /* Убедимся, что изображение поверх .promo-block */
}

/* Адаптация для маленьких экранов */
@media (max-width: 300px) {
  .promoWrapper {
    margin: 20px 10px; /* Уменьшаем горизонтальные отступы */
    max-width: none; /* Убираем ограничение ширины */
  }

  .promoBlock {
    padding: 10px 10px 10px 80px; /* Уменьшаем отступы для текста */
  }

  .promoImageOverlap {
    top: -20px; /* Уменьшаем выход изображения за верхнюю часть блока */
    max-width: 60px; /* Уменьшаем размер изображения */
  }

  .promoText {
    font-size: 1rem; /* Уменьшаем размер текста */
  }
}

/* promo block end */

.container {
  width: 95%;
  margin: 0 auto;
  /* padding: 16px; */
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text {
  padding: 8px;
  font-size: 14px;
}

.button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: var(--main-color);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background: var(--accent-color);
}