:root {
    --main-color: #F0973D; /* Основной цвет */
    --bg-color: #fff; /* Цвет фона */
    --text-color: rgb(92, 92, 92); /* Цвет текста */
    --border-color: #e7cc9d; /* Цвет границы */
    --accent-color: #ff8000; /* Акцентный цвет */
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-montserrat), sans-serif; /* Используем переменную шрифта */
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    padding-bottom: 70px; /* Отступ для навигационной панели */
    margin: 0; /* Убираем любые внешние отступы */
}