:root {
    --main-color: #F0973D; /* Переменная перенесена сюда */
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-montserrat), sans-serif; /* Используем переменную шрифта */
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    margin-top: 20%;
    padding-bottom: 70px; /* Отступ для навигационной панели */
}